In [18]:
import pandas as pd

# dask_sample_timing.log

In [19]:
f= open("logs/dask_sample_timing.log","r")
data = f.read()
f.close()

In [58]:
df = pd.DataFrame(columns=['nrows', 'time (s)', 'trial'])

samples = data.split('\nEND ROW\n')

for i, nrows in enumerate([1000, 10_000, 100_000, 1_000_000, 10_000_000, 100_000_000]):
    sample = samples[i] 
    s = pd.Series(sample.split('\n'))

    regex = r'Elapsed time: (\d+\.\d+) seconds'
    times = s.str.extractall(regex)[0].values

    dfi = pd.DataFrame({'nrows': nrows, 'time (s)': times, 'trial': range(len(times))})
    df = pd.concat([df, dfi], ignore_index=True)
  
df.to_csv('logs/dask_sample_timing.csv', index=False)  
df

        nrows time (s) trial
0        1000    52.04     0
1        1000    52.41     1
2        1000    53.31     2
3        1000    52.47     3
4        1000    53.95     4
5       10000    53.44     0
6       10000    52.93     1
7       10000    52.92     2
8       10000    53.07     3
9       10000    54.10     4
10     100000    53.32     0
11     100000    53.37     1
12     100000    53.30     2
13     100000    52.77     3
14     100000    53.01     4
15    1000000    53.46     0
16    1000000    53.13     1
17    1000000    53.42     2
18    1000000    52.80     3
19    1000000    53.31     4
20   10000000    54.80     0
21   10000000    53.18     1
22   10000000    53.24     2
23   10000000    53.01     3
24   10000000    53.45     4
25  100000000    53.04     0
26  100000000    53.50     1
27  100000000    53.31     2
28  100000000    54.49     3
29  100000000    57.10     4

# pandas_timing.log

In [ ]:
for i, nrows in enumerate([1000, 10_000, 100_000, 1_000_000, 10_000_000, 100_000_000]):
    for f, func in enumerate(['add', 'mul', 'cumsum', 'abs', 'mean', 'std', 'count', 'unique'])